# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Asus\OneDrive\Desktop\Facultate\Laboratoare\An3-Semestu1-Engleza\FLCD\Grammar\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
